aegiscloud.in {
    @api {
        path /api/*
    }
    handle @api {
        reverse_proxy backend:8000
    }
    handle {
        reverse_proxy frontend:3000
    }
}

www.aegiscloud.in {
    redir https://aegiscloud.in{uri} permanent
}

api.aegiscloud.in {
    reverse_proxy backend:8000
}
